/**
 * author       : liuliyuan
 * createTime   : 2017/10/25 16:13
 * description  :
 */
.title{
    background-color:#fff;
    padding:10px;
    border-bottom:1px solid #ccc;
    overflow: hidden;
}
.resultWrap{
    background-color:#fff;
    padding:20px 0;
}
.searchWrap{
    background-color:#fff;
    padding:20px 0;
}

.textr{
    text-align: right !important;
}
.textc{
    text-align: center !important;
}

.table-operations {
    margin-bottom: 16px;
}

.table-operations > button {
    margin-right: 8px;
}


.sys .ant-menu.ant-menu-horizontal.p-menu-root{
    background:transparent;
    color: #fff;
}
.sys .ant-menu-dark.ant-menu-horizontal.p-menu-root {
    border-bottom-color: transparent;
}
.sys .ant-menu-dark.p-menu-root, .ant-menu-dark .ant-menu-sub {
    color: #333;
    background: #fff;
}

.sys .ant-menu .ant-menu-dark.p-menu-root, .ant-menu-vertical.ant-menu-sub .ant-menu-item {
    color: #333 !important;
    opacity:0.7
}
.sys .ant-menu .ant-menu-dark.p-menu-root, .ant-menu-vertical.ant-menu-sub .ant-menu-item-active.ant-menu-item
{
    opacity:1
}
.sys .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
    border-color: transparent !important;
    border-bottom: 0;
    opacity:0.7
}
.sys .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected.ant-menu-submenu{
    opacity:1
}
.sys .ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu:hover {
    opacity:1
}


.sys .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
    color:#fff;
    background:transparent;
}
.form-item-required .ant-form-item-label label:after {
    content: "";
    margin: 0;
    top: 0;
}
