@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.p-main{
  padding: 0 50px;
}
.mediaWidth{
  width:100%;
  max-width: 1500px !important;
  margin: 0 auto !important;
}